.side {
	flex:0;
	background-color:mediumpurple;
	color:pink;
        font-size:15px;
	border-left:10px solid black;
	margin:10px;
	padding:15px;

}
.side div{
	flex:1;
	margin:15px;
	padding:15px;
	border:2px solid black;
	width:200px;

}
